/*
 * Page layout
 */

body {
	background: url('../images/background.png') fixed top center;
	font-family: Arial;
	font-size: 14px;
}

a {
	text-decoration: none;
}

a, header, #context .title {
	color: #1080de;
}

#wrapper {
	width: 980px;
	margin: 30px auto 0;
	background: #fff;
	border: 1px solid #aaa;
	border-radius: 3px;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.6);
}

#content, #context .tools {
	width: 770px;
}

#nav, #context .title {
	float: left;
	width: 150px;
}
#meta, #content, #context .tools {
	float: right;
}
.clearfix {
	clear: both;
}

#head, footer, #container {
	padding: 20px 30px;
}

#head {
	height: 39px;
	line-height: 39px;
}

#context {
	padding: 5px 30px;
}

#context .title {
	height: 39px;
	line-height: 39px;
}

header {
	font-size: 20px;
	border-bottom: 1px solid #e3e3e3;
}

footer {
	border-top: 1px solid #e3e3e3;
}

#linkfooter, #linkfooter a:not(:hover) {
	color: #666!important;
}

#nav a {
	color: #000;
	line-height: 20px;
}
#nav a.active {
	color: #1080de;
	font-weight: bold;
}

#attrib {
	width: 460px;
}

form {
	margin: 0;
}
form.inline {
	display: inline;
}
fieldset {
	border: none;
}

.button.padded, .buttongroup.padded {
	margin: 0 6px;
}
.tools .button.padded:first-child, .tools .buttongroup.padded:first-child {
	margin-left: 0;
}
.tools .button.padded:last-child, .tools .buttongroup.padded:last-child {
	margin-right: 0;
}

/*
 * Buttons
 */

.button {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	background: #eee;
	color: #666;
	border: 1px solid #ddd;
	border-radius: 4px;
}
.button:hover {
	background: #f5f5f5;
}

a.button {
	padding: 8px 20px;
	line-height: 39px!important;
}
button.button {
	margin: 4px 0;
	padding: 6.5px 20px;
	font-family: Arial;
	cursor: pointer;
}

.button.wide {
	padding-left: 30px;
	padding-right: 30px;
}
.button.grayed {
	background: #f5f5f5;
	cursor: default;
	pointer-events: none;
	color: #c3c3c3;
}

.button.blue {
	background: #1080de;
	border: 1px solid #0b6897;
	color: #fff!important;
}
.button.blue:hover {
	background: #198eee;
}

.button.danger {
	background: #c00;
	border: 1px solid #900;
	color: #fff!important;
}
.button.danger:hover {
	background: #d90000;
}

.buttongroup {
	display: inline-block;
	font-size: 0;
}
.buttongroup a.button:not(:last-child), .buttongroup button.button:not(.last) {
	border-right: none;
}
.buttongroup a.button:first-child, .buttongroup button.button.first {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.buttongroup a.button:first-child {
	padding-right: 15px;
}
.buttongroup button.button.first {
	padding-right: 10px;
}
.buttongroup a.button:last-child, .buttongroup button.button.last {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.buttongroup a.button:last-child {
	padding-left: 15px;
}
.buttongroup button.button.last {
	padding-left: 10px;
}
.buttongroup a.button:not(:first-child):not(:last-child), .buttongroup button.button:not(.first):not(.last) {
	border-radius: 0;
}
.buttongroup a.button:not(:first-child):not(:last-child) {
	padding-left: 15px;
	padding-right: 15px;
}
.buttongroup button.button:not(.first):not(.last) {
	padding-left: 10px;
	padding-right: 10px;
}

/*
 * Tables (message lists)
 */

table {
	border-collapse: collapse;
	width: 100%;
}
tr {
	background: #eee;
	border: 1px solid #ddd;
}
td {
	font-size: 12px;
	padding: 8px;
}

td.check {
	width: 10px;
}
td.subject {
	max-width: 428px;
	overflow: hidden;
	text-overflow:  ellipsis;
	white-space: nowrap;
	color: #999;
}
td.name, td.date {
	width: 120px;
}
td.subject span.subject {
	color: #000;
}

tr.highlighted {
	background: #7fb7e6;
}
tr.highlighted td.subject {
	color: #eee;
}

/*
 * Special styling
 */

.column {
	width: min-content;
	display: table-cell;
	padding: 0 30px;
	border-left: 1px solid #e3e3e3;
	border-right: none;
	line-height: 20px
}
.columnbox .column:first-child {
	padding-left: 0;
	border-left: none;
}
.columnbox .column:last-child {
	padding-right: 0;
	border-right: none;
}

.floatbox {
	margin: 10px 0;
	display:table;
}
.floatbox .small, .floatbox .large {
	display: table-cell;
}
.floatbox .small {
	width: 222px;
}
.floatbox .large {
	width: 465px;
}
.floatbox > :first-child {
	padding-right: 20px;
	border-right: 1px solid #ccc;
}
.floatbox > :last-child {
	padding-left: 20px;
}

.tab footer {
	border-top: none;
}
.tab {
	text-align: center;
	border: 1px solid #444;
	border-top: none;
	margin: 0 auto 30px;
	background: #ddd;
	box-shadow: inset 0 5px 8px -5px rgba(0, 0, 0, 0.6),
		6px 4px 8px -3px rgba(0, 0, 0, 0.28),
		-6px 4px 8px -3px rgba(0, 0, 0, 0.28),
		inset 0 0 8px 3px rgba(0, 0, 0, 0.2);
	border-radius: 0 0 7px 7px;
}
.tab.blue {
	background: #1080de;
	color: #fff;
	box-shadow: inset 0px 5px 8px -5px rgba(0, 0, 0, 0.6),
		6px 4px 8px -3px rgba(0, 0, 0, 0.28),
		-6px 4px 8px -3px rgba(0, 0, 0, 0.28),
		inset 0 0 8px 3px rgba(7, 53, 93, 0.2);
}
.tab.blue a {
	color: #ccc;
}

#attribmore {
	display: none;
	margin: 0 20px;
	padding: 20px;
	border-bottom: 1px solid #fff;
}

#footertoggle {
	height: 26px;
	width: 26px;
	margin: 0 auto 10px;
	background: #fff;
	border-radius: 13px;
	border:1px solid #aaa;
	position: relative;
	top: -10px;
}
