/*
 * Page layout
 */
input, textarea {
  font-size: 15px;
  padding: 4px 8px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin: 3px 0; }

textarea {
  font-family: Helvetica, Arial, sans-serif; }

body {
  background-color: #ddd;
  background: url("../images/background.png") fixed top center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px; }

a {
  text-decoration: none; }

a, header, #context, .title {
  color: #007ee5; }

#wrapper {
  width: 980px;
  margin: 30px auto 0;
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8); }

#content, #context .tools {
  width: 770px; }

#nav, #context .title {
  float: left;
  width: 150px; }

#meta, #content, #context .tools {
  float: right; }

.clearfix {
  clear: both; }

#head, footer, #container {
  padding: 20px 30px; }

#head, #context .title {
  height: 39px;
  line-height: 39px; }

#context {
  padding: 5px 30px; }

header {
  font-size: 20px;
  border-bottom: 1px solid #e3e3e3; }

footer {
  border-top: 1px solid #e3e3e3; }

#linkfooter, #linkfooter a:not(:hover) {
  color: #666 !important; }

#nav a {
  color: #000;
  line-height: 20px; }
  #nav a.active {
    color: #007ee5;
    font-weight: bold; }

#attrib {
  width: 460px; }

form {
  margin: 0; }
  form.inline {
    display: inline; }

fieldset {
  border: none; }

.button.padded, .buttongroup.padded {
  margin: 0 6px; }

.tools .button.padded:first-child, .tools .buttongroup.padded:first-child {
  margin-left: 0; }

.tools .button.padded:last-child, .tools .buttongroup.padded:last-child {
  margin-right: 0; }

/*
 * Buttons
 */
.button {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  background: #eee;
  color: #666;
  border: 1px solid #ddd;
  border-radius: 4px; }
  .button:hover {
    background: #f5f5f5; }
  .button.wide {
    padding-left: 30px;
    padding-right: 30px; }
  .button.grayed {
    background: #f5f5f5;
    cursor: default;
    pointer-events: none;
    color: #c3c3c3; }
  .button.blue {
    background: #007ee5;
    border: 1px solid #0b6897;
    color: #fff !important; }
    .button.blue:hover {
      background: #198eee; }
  .button.danger {
    background: #c00;
    border: 1px solid #900;
    color: #fff !important; }
    .button.danger:hover {
      background: #d90000; }

a.button {
  padding: 8px 20px 7px;
  line-height: 39px !important; }

button.button {
  margin: 4px 0;
  padding: 6.5px 17px 5.5px;
  font-family: Arial;
  cursor: pointer; }

.buttongroup {
  display: inline-block;
  font-size: 0; }
  .buttongroup a.button:not(:last-child), .buttongroup button.button:not(.last) {
    border-right: none; }
  .buttongroup a.button:first-child:not(:last-child), .buttongroup button.button.first:not(.last) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .buttongroup a.button:first-child:not(:last-child) {
    padding-right: 15px; }
  .buttongroup button.button.first:not(.last) {
    padding-right: 10px; }
  .buttongroup a.button:last-child:not(:first-child), .buttongroup button.button.last:not(.first) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .buttongroup a.button:last-child:not(:first-child) {
    padding-left: 15px; }
  .buttongroup button.button.last:not(.first) {
    padding-left: 10px; }
  .buttongroup a.button:not(:first-child):not(:last-child), .buttongroup button.button:not(.first):not(.last) {
    border-radius: 0; }
  .buttongroup a.button:not(:first-child):not(:last-child) {
    padding-left: 15px;
    padding-right: 15px; }
  .buttongroup button.button:not(.first):not(.last) {
    padding-left: 10px;
    padding-right: 10px; }

/*
 * Tables (message lists)
 */
table {
  border-collapse: collapse;
  width: 100%; }

td {
  font-size: 12px;
  padding: 8px; }
  td.check {
    width: 10px; }
  td.name {
    width: 115px; }
  td.subject {
    max-width: 423px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #999; }
    td.subject span.subject {
      color: #000; }
  td.date {
    width: 130px; }

tr {
  background: #eee;
  border: 1px solid #ddd; }
  tr.unread {
    font-weight: bold;
    background: #fff; }
  tr.highlighted {
    background: #7fb7e6; }
    tr.highlighted td.subject {
      color: #eee; }

/*
 * Toasts
 */
#toastArea {
  position: fixed;
  top: 30px;
  left: 50%;
  text-align: center;
  width: 980px;
  margin-left: -490px; }

.toast {
  padding: 10px 15px;
  position: fixed;
  width: fit-content;
  border: 1px solid;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0;
  animation: fadeInOut 4.6s; }
  .toast.success {
    background: #e8f7ed;
    border-color: #30b661;
    color: #30b661; }
  .toast.info {
    background: #e1f2fb;
    border-color: #5bb8e8;
    color: #5bb8e8; }
  .toast.warning {
    background: #fff9e1;
    border-color: #ffd335;
    color: #ffd335; }
  .toast.danger {
    background: #fef1f1;
    border-color: #e2a8a8;
    color: #e2a8a8; }

/*
 * Special styling
 */
.column {
  width: min-content;
  display: table-cell;
  padding: 0 30px;
  border-left: 1px solid #e3e3e3;
  border-right: none;
  line-height: 20px; }

.columnbox .column:first-child {
  padding-left: 0;
  border-left: none; }

.columnbox .column:last-child {
  padding-right: 0;
  border-right: none; }

.floatbox {
  margin: 10px 0;
  display: table; }
  .floatbox .small, .floatbox .large {
    display: table-cell; }
  .floatbox .small {
    width: 222px; }
  .floatbox .large {
    width: 465px; }
  .floatbox > :first-child {
    padding-right: 20px;
    border-right: 1px solid #ccc; }
  .floatbox > :last-child {
    padding-left: 20px; }

.tab footer {
  border-top: none; }

.tab {
  text-align: center;
  border: 1px solid #444;
  border-top: none;
  margin: 0 auto 30px;
  background: #ddd;
  box-shadow: inset 0 5px 8px -5px rgba(0, 0, 0, 0.6), 6px 4px 8px -3px rgba(0, 0, 0, 0.28), -6px 4px 8px -3px rgba(0, 0, 0, 0.28), inset 0 0 8px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 7px 7px; }
  .tab footer {
    border-top: none; }
  .tab.blue {
    background: #007ee5;
    color: #fff; }
    .tab.blue a {
      color: #ccc; }

#attribmore {
  display: none;
  margin: 0 20px;
  padding: 20px;
  border-bottom: 1px solid #fff; }

#footertoggle {
  height: 26px;
  width: 26px;
  margin: 0 auto 10px;
  background: #fff;
  border-radius: 13px;
  border: 1px solid #aaa;
  position: relative;
  top: -10px; }

/*
 * Modal window
 */
#modalShade, #modal {
  display: none; }

#modalShade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 50; }

#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  margin-left: -250px;
  z-index: 51;
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.6); }

.modalHeader {
  padding: 10px 12px;
  border-bottom: 1px solid #ddd; }

.modalTitle {
  float: left;
  font-size: 30px;
  color: #1080de; }

.modalClose {
  float: right;
  font-size: 24px;
  color: #bbb;
  cursor: pointer; }

.modalContent {
  padding: 30px 20px; }

.modalConfirmText {
  font-weight: bold;
  font-size: 14px; }

.modalConfirmForm {
  margin-top: 10px;
  text-align: right; }

input.fancy {
  height: 31px;
  border: 1px solid #ccc;
  margin-right: 7px; }

/*# sourceMappingURL=style.css.map */
