body {
	background: #fff;
	margin: 0;
	padding-top: 70px;
}
footer hr {
	margin-top: 0px;
}
#main {
	margin-bottom: 20px;
}
.jumbotron h2 {
	font-size: 50px;
}
.alert-center {
	width: 500px;
	position: absolute;
	left: 50%;
	margin-left: -250px;
}
.alert {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.alert form {
	height: 34px;
	margin-bottom: 5px;
}
.alert button {
	margin: -35px;
}
.btn {
	margin-right: 10px;
}
.btn-group .btn-middle {
	border-left: 0px;
	border-right: 0px;
}
.btn-group .btn {
	margin-right: 0px;
}
.topline {
	border-top: 1px solid #bbb;
}
.center {
	text-align: center;
}
#wrapper {
	height: auto;
	min-height: 100%;
	margin: 0 auto -51px;
	padding: 0 0 51px;
}
#footer {
	height: 51px;
}
form.menu {
	display: inline-block;
}
.btn {
	display: inline-block;
}
.btn-right {
	float: right;
}
.btn-left {
	float: left;
}
